<!DOCTYPE html>
<html>
<head>
    <title>Cadastro</title>
    <!-- Adicionando o link para o arquivo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        function validarCadastro() {
            let senha = document.getElementById("senha").value;
            let confirmarSenha = document.getElementById("confirmarSenha").value;
            if (senha !== confirmarSenha) {
                alert("As senhas não são iguais!");
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
    <h1>Crie sua conta</h1>
    <form onsubmit="return validarCadastro()">
        <label>Nome:</label>
        <input type="text" name="nome" required><br>
        <label>Senha:</label>
        <input type="password" id="senha" required><br>
        <label>Confirme a senha:</label>
        <input type="password" id="confirmarSenha" required><br>
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>
